<div id="reservation-modal" class="modal fade mt-5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Cancelar</h4>
      </div>
      <%= form_for @reservation, remote: true do |f| %>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display: none;"></div>
          <div class="form-group">
            <%= f.label "Nombre Completo" %>
            <%= f.text_field :name, class: "form-control input-lg" %>
          </div>
          <div class="form-group">
          <%= f.label "Celular" %>
            <%= f.text_field :celular, class: "form-control input-lg" %>
          </div>
          <div class="form-group">
            <%= f.label "Cédula" %>
            <%= f.text_field :cedula, class: "form-control input-lg",  %>
          </div>
          <div class="form-group">
            <%= f.label "Correo Electrónico" %>
            <%= f.date_field :email, class: "form-control input-lg" %>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit class: "btn btn-primary btn-lg btn-block", value: "Crear nueva reserva" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->