<tr id="<%= reservation.id %>">
    <td><%= reservation.movie.name %></td>
    <td><%= reservation.name %></td>
    <td><%= reservation.email %></td>
    <td><%= reservation.cedula %></td>
    <td><%= reservation.celular %></td>
</tr>